.menu-title{
    font-family: "Bookman Old Style";
    font-size: 12.95pt;
    font-weight: bold;
    color: #8c6f0f;
}
.menu-title1{
    font-family: "Bookman Old Style";
    font-size: 12.95pt;
    font-weight: bold;
    color: #000;
}
.menu-text2{
    font-family: "Bookman Old Style";
    font-size: 11.95pt;
    font-weight: bold;
    color: #8c6f0f;
}
.menu-text3{
    font-family: "Bookman Old Style";
    font-size: 11.95pt;
    /*font-weight: bold;*/
    color: #000;
}
.menu-text4{
    font-family: "Bookman Old Style";
    font-size: 9.95pt;
    font-weight: bold;
    font-style: italic;
    color: #8c6f0f;
}
ul.menu-text2 li{
    margin-bottom: 0.5em;
    font-family: "Bookman Old Style";
    font-size: 11.95pt;
    font-weight: bold;
    /*color: #8c6f0f;*/
}

.menu-item{
    margin-bottom: 1em;
}
