#slideshow {
    margin: 0px auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    /*box-shadow: 0 0 20px rgba(0,0,0,0.4);*/
}

#slideshow > div {
    position: absolute;
    top: 0px;
    bottom: 0px;
}
