@media (max-width: 500px) {

	#portfolio {

		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 2;

	}
}


/*-- portfolio section --*/
.agile_inner_info {
	margin-top: 3em;
}

p.sub_cap {
	text-align: center;
	text-shadow: 1px 1px 2px rgba(154, 153, 153, 0.37);
}

.portfolio-agileinfo h3.text-center {
	font-size: 40px;
	font-weight: normal;
	color: #000;
	padding-bottom: 50px;
}

.portfolio-agileinfo .portfolio-grids a {
	display: block;
	overflow: hidden;
	position: relative;
}

.portfolio-agileinfo .portfolio-grids img.img-responsive {
	width: 100%;
}

.portfolio-agileinfo .b-wrapper {
	background: rgba(253, 43, 48, 0.74);
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -100%;
	left: 0;
	padding: 6.5em 0 0 0;
	transition: .5s all;
	text-align: center;
	display: none;
}

.portfolio-agileinfo .b-wrapper.two {
	padding: 15.5em 0 0 0;
}

.portfolio-agileinfo .portfolio-grids a:hover .b-wrapper {
	bottom: 0%;
}

.portfolio-agileinfo i {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 2em;
	border: 1px solid rgba(255, 255, 255, 0.58);
	padding: 10px;
}

.portfolio-agileinfo .b-wrapper h5 {
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	padding: 14px 0;
}

.portfolio-agileinfo .b-wrapper p {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	line-height: 1.8em;
	text-align: center;
}

.portfolio-agileinfo .gallery-grids {
	margin: 0;
}

.portfolio-agileinfo h3 {
	color: #000;
}

.portfolio-grids {
	padding: 0;
}

.portfolio-grids_left {
	padding: 0;
}

.portfolio-grids img {
	width: 100%;
}

.portfolio-grid_left {
	padding: 0;
}

#portfolio {
	padding-top: 3em;
}


/*-- /portfolio section --*/

.erroll-img:hover{
	transform: scale(0.9);
	transition: all 0.5s;
}

.erroll-img{
	transform: scale(1.0);
	transition: all 0.5s;
}.erroll-effect{

}
.menu-button1{
	border: none;
	padding: 1.5em;
	outline: none;
	position: fixed;
	right:0;
	top:0em;
	z-index: 1;
	background: none;
}
.white{
	color: #fff;
}
/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 9999; /* Sit on top */
	left: 0;
	top: 0;
	overflow-y: hidden;
	background-color: rgb(0,0,0); /* Black fallback color */
	background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 10%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 28px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.gal a img:hover{
	transform: scale(0.9);
	transition: all 0.5s ease-in-out;
}

.gal a img{
	transform: scale(1.0);
	transition: all 0.5s ease-in-out;
}

.gal {
	transition: all 0.5s;
	padding: 1em;
	overflow: hidden;
	/*-webkit-column-count: 3; Chrome, Safari, Opera */
	/*-moz-column-count: 3;*/ /* Firefox */
	/*column-count: 3;*/


}
.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {

	.gal {

		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;

	}
}
.modal-dialog{
	width: 95% !important;
}
.slide{
	min-height:475px !important;
}
.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center !important;
}
/*@media only screen and (max-width: 1366px) {
  .my-ul{
     display:inline !important;
  }
}
@media only screen and (max-width: 1440px) {
  .my-ul{
     display:inline !important;
  }
}
@media only screen and (max-width: 1920px) {
  .my-ul{
     display:inline !important;
  }
}*/
.slick-prev:before, .slick-next:before{
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	/* width: 20px; */
	/* height: 20px; */
	margin-top: -10px;
	padding: 10px;
	cursor: pointer;
	color: #dfac18;
	border: none;
	outline: none;
	background: #dfac18;
	margin: -45px;
}
.menu-title{
	font-family: "Bookman Old Style";
	font-size: 12.95pt;
	font-weight: bold;
	color: #dfac18;
}
.menu-title1{
	font-family: "Bookman Old Style";
	font-size: 12.95pt;
	font-weight: bold;
	color: #000;
}
.menu-text2{
	font-family: "Bookman Old Style";
	font-size: 11.95pt;
	font-weight: bold;
	color: #dfac18;
}
.menu-text3{
	font-family: "Bookman Old Style";
	font-size: 11.95pt;
	/*font-weight: bold;*/
	color: #000;
}
.menu-text4{
	font-family: "Bookman Old Style";
	font-size: 9.95pt;
	font-weight: bold;
	font-style: italic;
	color: #dfac18;
}
ul.menu-text2 li{
	margin-bottom: 0.5em;
	font-family: "Bookman Old Style";
	font-size: 11.95pt;
	font-weight: bold;
	/*color: #dfac18;*/
}

.menu-item{
	margin-bottom: 1em;
}

ul{
	list-style: none;
	color: #dfac18;
	/*list-style-image: url("../images/list.png");*/
}

ul.menu-items li   {
	margin: 1em;
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s ease-out 0.2s;
}

.goldlink{
	color: #dfac18;
	font-weight: bold;
	transform: scale(1);
	transition: all 0.3s ease-in 0.1s;
}
.erroll-gold{
	color: #dfac18;
	transition: all 0.3s ease-in 0.1s;
}

.goldlink:hover{
	transform: scale(1.1);
	transition: all 0.3s ease-out 0.1s;
}
.erroll-image{
  border: 3px solid #080808;
  padding: 1em;
}
.erroll-link{
  color:#fff;
  transition: all 0.5s;
}
.erroll-link:hover{
  color: #dfac18;
  transition: all 0.5s;
}
.erroll-link2{
  color:#000;
  /*font-style: italic;*/
  transition: all 0.5s;
}
.erroll-link2:hover{
  color: #dfac18;
  transition: all 0.5s;
}
ul.menu-items li h4:hover {
	/*font-weight: bold;*/
	transition: all 0.5s ease-out 0.5s;
}

ul.menu-items li h4{
	/*font-weight: bold;*/
	transition: all 0.5s ease-in 0.5s;
}

ul.menu-items li:hover {
	opacity: 1;
	transform: scale(1.1);
	transition: all 0.5s ease-out 0.1s;
}
.my-button{
    transition: all 0.5s;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:4em;
    padding-right:4em;
    border: 1px solid #555;
    background:#fff;
    color:#555;
}
.my-button:hover{
    transition: all 0.5s;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:4em;
    padding-right:4em;
    border: 1px solid #dfac18;
    background:#dfac18;
    color:#fff;
}
html{
	overflow-x: hidden;
}
body{
	margin:0;
	font-family: 'Old Standard TT', serif;
	background: #fff;
	overflow-x: hidden;
}
body a{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	/*font-family: 'Raleway Dots', cursive;*/
	font-family: 'Old Standard TT', serif;
		font-family: 'Limelight', cursive;
	font-family: 'Old Standard TT', serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

/*-- banner --*/
.banner {
    min-height: 1000px;
/*    background: url(../images/banner.jpg)no-repeat center 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;*/
    position: relative;
}
.header {
  /* position: relative; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
    background: #fff;
}
/*-- logo --*/
.navbar-header h1 {
       font-size: 3em;
    display: block;
}
.navbar-header h1 a {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
	    line-height: 78px;
		    font-weight: bold;
}
h1 span {
    color: #dfac18;
}
/*-- //logo --*/
/*-- top-nav --*/

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #000;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-nav > li {
   margin: 0 0em;
}
ul.nav.navbar-nav.navbar-right {
	padding-top: 1em;
    margin-left: auto;
    margin-left: auto;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 12px;
  padding: 1.8em 1em;
    position: relative;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:active {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #936e24 !important;
	background:none!important;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding-bottom: 1em !important;
}
/*--search--*/
.search{
    position: absolute;
    right: 14%;
    top: 14px;
}
.search label.icon-search {
    color: #212121;
	cursor: pointer;
}
.search_form{
	position:absolute;
	z-index:9999;
	right:0;
	top:15px;
	overflow: hidden;
	width: 20px;
	height:0px;
	    background: rgba(144, 138, 138, 0.34);
	transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out 0.5s , top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}
.search_form form{
	opacity:0;
	transition:all 0.3s ease-out;
	-webkit-transition:all 0.3s ease-out;
}
.search_form input[type='search']{
    width: 371px;
       padding: 6px;
    outline: none;
    font-size: 14px;
    color:#fff;
    border: 1px solid #999;
    background: none;
}
.search_form input[type='search']::-webkit-input-placeholder{
	color:#fff !important;
}
.search_form input[type='submit']{
       outline: none;
    background: #dfac18;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 1px solid #dfac18;
    text-transform: uppercase;
    padding: 6px 34px;
}
.search_form input[type='submit']:hover{
	background:#222;
	 border: 1px solid #222;
	color:#fff;
}
.search_box{
	visibility: hidden;
}
.search_box:checked~.search_form{
       width: 500px;
      height: 53px;
    padding: 10px;
        top: 82px;
	transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
	-webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}
.search_box:checked~.search_form form{
	opacity:1;
	transition:0.3s all ease-out 0.5s;
	-webkit-transition:0.3s all ease-out 0.5s;
}
label.icon-search span {
      color: #fff;
    font-size: 1.1em;
    top: 20px;
    padding: 10px;
}

/*--//search--*/
/*-- //top-nav --*/
.banner-text {
    text-align: center;
    padding: 13em 0 0 0;
}
/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}
.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 48%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height:34px;
    width:34px;
    background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.prev {
	 left: auto;
	   background: url("../images/left.png") no-repeat 0px 0px;
	left: -58px;
}
.callbacks_nav.next {
    left: auto;
    background: url("../images/right.png") no-repeat 0px 0px;
       right: -15px;
}
.callbacks_nav:active {
	opacity: 1.0;
}

.callbacks2_nav:active {
	opacity: 1.0;
}

#slider-pager a {
	display: inline-block;
}

#slider-pager span {
	float: left;
}
#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}
#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}
#slider-pager a {
	padding: 0;
}
#slider-pager li {
	display: inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	left: 0%;
	top: 0;
	width: 100%;
}
.rslides li {
	position: relative;
	display: block;
	float: none;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 80.5%;
	z-index: 999;
	left: 44.5%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
    width:18px;
	height:18px;
	display: inline-block;
	border:6px solid rgba(0, 0, 0, 0.91);
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.callbacks_here a:after {
	background: #dfac18;
}
.slider-info {
    text-align:center;
    padding-top: 2em;
}
p.sub-para {
    font-size: 1em;
    color: #fff;
    letter-spacing: 7px;
}
.slider-info img {
	width: 100px;
	margin: 0 auto;
}
.callbacks_tabs {
   list-style: none;
    position: absolute;
    top: 114%;
    left: 43%;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: block;
    text-align: center;
}
.slider-top span{
font-weight:600;
}
.callbacks_tabs li{
       display: inline-block;
  margin: 0 5px;
}
.slider-info h3 {
       font-size: 3.2em;
    color:#fff;
    letter-spacing: 12px;
    margin: 1.4em 0 0.5em 0;
    font-weight: bold;
    text-transform: uppercase;
}
.slider-info h3 span {
	  color:#dfac18;
}
.slider-info h4 {
        font-size:2em;
    color: #fff;
    letter-spacing: 12px;
    font-weight:100;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
    padding: 0.5em;
    width: 80%;
    margin: 0 auto 0.8em;
}
/*-- //Slider --*/
/*-- //banner --*/
/*-- welcome --*/
/*--tabs-recipes --*/
.tab-content>.tab-pane {
	padding-top: 50px;
}
.nav-tabs>li>a {
	margin: 0 5px;
    padding: 15px 44px;
    line-height: 1.42857143;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 0;
    color: #222;
    background: #eee;
}

.nav-tabs>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #FFF!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	    background: #dfac18!important;
	color: #FFF!important;
}
.tab-image img {
    width: 100%;
}
.tab-info p {
	    line-height: 2.5em;
    margin-top: 1em;
	    font-size: 0.9em;
		color: #777;
}
.nav-tabs>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background:none!important;
    color: #FFF;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #fff;
}
.nav-tabs {
    border-bottom: 1px solid #fff!important;
	    margin: 0 auto;
    text-align: center!important;
    width: 64%;
}
.nav-tabs>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
      background: #dfac18!important;
    color: #FFF!important;
	 border-color: #eee #eee #fff;
}
.recipes-w3l-agile {
    padding: 5em 0 3em 0;
}
.bs-example.bs-example-tabs {
    margin-top: 3em;
}
/*-- about --*/
.agile-w3l-ab {
      background: #fff;
    padding: 2em;
    border: 10px solid #363632;
    position: relative;
    width: 63%;
}
#about {
       padding: 5em 0 3em 0;
}
.ab-w3l-text p {
    color: #555;
    font-size: 1em;
    line-height: 37px;
    text-align: left;
    letter-spacing: 1px;
    margin: 1em 0;
}
.ab-w3l-text h2 {
    font-size: 3em;
    color: #333;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
}
.about-w3l-agileifo-grid {
    position: relative;
}
.img-ab {
    position: absolute;
    /*top: 80%;*/
    right: 29%;
    margin: -10%;
}
.img-ab img,.about-w3l-agileifo-grid img {
    border: 5px solid #080808;
    padding: 1em;
}
/*-- //about --*/
/*-- /services--*/
.agile-services-w3 {
    /*min-height:500px;*/
    /*background: url(../images/contact.jpg)no-repeat center 0px;*/
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	    padding-top: 6em;
	    padding-bottom: 6em;
	background-color: #222222;
}
.wthree-agile-sevre-grids {
    margin-top: 6em;
}
.wthree-agile-grid{
	text-align:center;
}
.wthree-agile-grid h4 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 2em;
    font-size: 1.4em;
    letter-spacing: 2px;
}
h3.tittle.ser {
    color: #fff;
}
/*-- effect7 --*/
.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
}

.hi-icon {
  text-decoration: none;
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 90px;
	height: 90px;
		border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-mz-border-radius: 50%;
	ms-border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
    color: #B365C5;
}
.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
		border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	-mz-border-radius: 50%;
	ms-border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hi-icon:before {
    font-size: 36px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
}
/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-7 .hi-icon:hover {
	color: #000;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 rgba(255,255,255,1);
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow:4px 4px rgb(0, 73, 119);
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
	box-shadow:4px 4px #fff;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
a.hi-icon.icon1 {
    background: url(../images/1.png) no-repeat 25px 30px #000;
    display: block;
    width:120px;
    height:120px;
    margin: 0 auto;
}
a.hi-icon.icon2 {
    background: url(../images/2.png) no-repeat 28px 25px #000;
    display: block;
    width:120px;
    height:120px;
    margin: 0 auto;
}
a.hi-icon.icon3 {
       background: url(../images/3.png) no-repeat 25px 30px #222222;
    display: block;
    width:120px;
    height:120px;
    margin: 0 auto;
}
a.hi-icon.icon4 {
       background: url(../images/4.png) no-repeat 25px 30px #222222;
    display: block;
    width:120px;
    height:120px;
    margin: 0 auto;
}
a.hi-icon.icon1:hover {
    background: url(../images/1.png) no-repeat 25px 30px #dfac18;
}
a.hi-icon.icon2:hover {
	  background: url(../images/2.png) no-repeat 28px 25px #dfac18;
}
a.hi-icon.icon3:hover{
	   background: url(../images/3.png) no-repeat 25px 30px #dfac18;
}
a.hi-icon.icon4:hover {
	   background: url(../images/4.png) no-repeat 25px 30px #dfac18;
}
/*-- //effect7 --*/
/*-- //services--*/
/*--menu--*/
.menu {
    padding: 13em 0 5em;
    position: relative;
    background-color: #CADDE1;
}
.menu-tag {
    position: absolute;
    top: 0%;
    left: 42%;
    margin-top: 5em;
}
.menu-text {
	margin-bottom: 4em;
	position:relative;
    -webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.menu-text:hover .rep-w3l-img img{
	    border: 3px solid #dfac18;

}
.menu-text-left{
    float: left;
    width: 80%;
    text-align: left;
}
.menu-text-left h4 {
    font-size: 1.23em;
    margin: 0;
    color: #3b3b3e;
    margin-bottom: 0.4em;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-text-left h6 {
       font-size: 0.9em;
    margin: 0;
    color: #dfac18;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
.rep-w3l-text {
    float: left;
    width: 70%;
      margin-top: 1.5em;
}
.menu-text-right{
	float:right;
	width: 18%;
}
.menu-text-right h4 {
  margin: 0;
  font-size: 22px;
  color:#3b3b3e;
  text-align: left;
  margin-top: 20px;
}
.menu-grids-info {
  position: relative;
}
.menu-rate{
  position: absolute;
  width: 92%;
  top: 0%;
  left: 15px;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.menu-rate h5{
  font-size: 30px;
  font-weight: 500;
  color:#fff;
  letter-spacing:0.5px;
  margin: 1em 0;
  text-align: center;
}
.menu-grids-info:hover div.menu-rate {
  display: block;
}
.menu-spl {
  position: relative;
}
.menu-spl:hover div.menu-rate {
  display: block;
}
.menu-rate.spl-rate {
  width: 95%;
}
.rep-w3l-img {
      float: left;
    margin-right: 4%;
    width: 24%;
}
.rep-w3l-img img {
      border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 3px solid #fff;
    padding:7px;
	    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/*--//tabs-recipes --*/
/*-- Countdown-Timer --*/
h3.tittle {
    font-size: 3em;
    color: #333;
	letter-spacing:2px;
	text-align:center;margin-bottom:0.5em;
}
.countdown-timer-w3laits {
    background: url(../images/count.jpg)no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	   min-height:550px;
}
.agile-its {
    padding-top: 10em;
    margin: 0 auto;
}

.simply-section {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
}

.countdown-timer-w3laits h3 {
       font-weight:200;
	   font-size:3em;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;

}
.countdown-timer-w3laits h4 {
    margin-bottom:30px;
    color: #fff;
    text-align: center;
    letter-spacing:3px;
	font-size:2em;
	text-transform:uppercase;
}
section.examples {
    margin-top: 9em;
}
.countdown-timer-w3laits h3  span{
	     color: #dfac18;
}
span.simply-amount {
	    font-size: 7em;
    line-height: 0;
    font-weight: 100;
    color: #fff;
}

span.simply-word {
    font-size:18px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
       color: #fff;
}
/*-- //Countdown-Timer --*/
/*-- /team --*/
#team {
    background: #f2efec;
    padding: 5em 0;
}
.w3l-agile-team-grid {
    margin: 1em 0;
}
.hover {
    float: left;
    position: relative;
    cursor: default;
}
.hover, .hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hover, .hover h2 {
    text-align: center;
}
.hover img {
    display: block;
    position: relative;
}
.hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
}
.hover, .hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.point {
    cursor: pointer;
}
.ehover8 p {
    width: 30%;
}
.ehover7 p, .ehover8 p {
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}

.set1 {
    top: 40%;
}
.ehover8 p {
    text-transform: none;
    font-size: 15px;
    line-height: 2;
}
.set2 {
    top: 60%;
}
.set1, .set2 {
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    padding: 0;
}
.ehover8 h4, .ehover8 hr, .set1, .set2 {
    left: 50%;
    transition: opacity .35s,-webkit-transform .35s;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
	  -o-transition: opacity .35s,-webkit-transform .35s;
	    -moz-transition: opacity .35s,-webkit-transform .35s;
    background-color: transparent;
    position: absolute;
    margin: 0;
}
.ehover8 p a {
    color: #fff;
}
.ehover8:hover hr:nth-child(3) {
    opacity: 1;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
}
.ehover8 hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
}
.ehover8 h4, .ehover8 hr {
    transition: opacity .35s,transform .35s;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}
.ehover8 hr {
    width: 40%;
    opacity: 0;
    border: 1px solid #FFF;
}
.ehover8:hover .set1 i:empty, .ehover8:hover .set2 i:empty {

    transform: translate3d(0,0,0);
	  -o-transform: translate3d(0,0,0);
	    -moz-transform: translate3d(0,0,0);
		 -ms-transform: translate3d(0,0,0);
		  -webkit-transform: translate3d(0,0,0);
    opacity: 1;
}
.set2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(60px,60px,0);
}
.ehover8 a i {
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
	  -ms-transition: opacity .35s,-webkit-transform .35s;
	    -o-transition: opacity .35s,-webkit-transform .35s;
		  -moz-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
  padding: 30px;
    font-size: 20px;
}
.ehover8 p a:focus, .ehover8 p a:hover {
    opacity: .6;
}
.ehover8:hover hr:nth-child(4) {
    opacity: 1;
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
}
.ehover8 hr:nth-child(4) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
}
.ehover8 h4, .ehover8 hr {
    transition: opacity .35s,transform .35s;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}
.ehover8 hr {
    width:35%;
    opacity: 0;
    border: 1px solid #FFF;
}
.ehover8 h4, .ehover8 hr {
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
}
.ehover8:hover h4 {
    opacity: 0;
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(.8,.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(.8,.8,1);
}
.hover.ehover8 h4 {
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 2px;
    color: #dfac18;
    background: rgba(0, 0, 0, 0.67);
    padding: 10px 15px;
}
/*-- //team --*/
/*-- reservation --*/
.reservation-w3laits {
    padding: 5em 0;
}
.book-form input[type="text"],.book-form input[type="number"],.book-form input[type="email"], select#country, select#country1 {
    width: 100%;
    color: #999;
    font-size: 1em;
    padding: 10px  10px 10px  40px;
    outline: none;
    background: #fff;
    border: 1px solid #dedede;
}
.phone_email{
	float:left;
}
.phone_email.phone_email1{
	float:right;
}
.phone_email, .phone_email1 {
    width: 48.5%;
    margin-bottom: 1em;
}
.cuisine {
    margin-bottom: 2em;
}
.book-form .form-text,.book_date,.section_room {
    position: relative;
}
.book-form label {
    font-size: 1em;
    color: #555;
    font-weight: 400;
    margin-bottom: .5em;
	    text-transform: uppercase;
}
.span1_of_1 {
    list-style: none;
    width: 100%;
}
.span1_of_1:nth-child(2) {
    margin: 1em 0;
}
.book-form span {
    position: absolute;
    color: #dfac18;
    font-size: 1em;
    top: 1em;
    left: 1.2em;
}
.book-form input[type="submit"] {
        text-transform: uppercase;
    width: 100%;
    background: #222;
    color: #ffffff;
    padding: 11px 0;
    border: none;
    font-size: 1em;
    margin-top: 2.4em;
    outline: none;
    font-weight: 600;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.book-form input[type="submit"]:hover{
	background: #dfac18;
	color:#fff;
}
.book-form ::-webkit-input-placeholder {
	color:#999 !important;
}
.book-form :-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
.book-form ::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
.book-form :-ms-input-placeholder {
	color:#999 !important;
}
.agile-reservation-grid {
    background: #f4f4f4;
    padding: 2em;
}
.book-form {
       margin: 1.17em 0;
}
/*-- //reservation --*/
/*-- img-hover-effect --*/
.adipoli-wrapper
{
    margin:auto;
    position:relative;
    display: inline-block;
}
.adipoli-wrapper>img
{
    position: absolute;
    z-index: 1;
}
.adipoli-before
{
    position: absolute;
    z-index: 5;
}
.adipoli-after
{
    position: absolute;
    z-index: 10;
}
.adipoli-slice {
    display:block;
    position:absolute;
    z-index:15;
    height:100%;
	background-size: cover !important;
}
.gal-w3l img {
    width:100%!important;
}
.gal-w3l {
    padding-left:5px!important;
    padding-right:5px!important;
    margin-bottom:4px;
}
#gallery {
       padding: 5em 0;
    background: #f4f4f4;
}
.gallery_gds {
    margin-top: 3em;
}
/*-- //img-hover-effect --*/
/*-- contact --*/
.contact h4 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 1em;
	    letter-spacing: 2px;
}
.contact-left{
    padding: 0;
}
.contact-right {
    background: url(../images/bbanner.jpg)no-repeat center 0px;
	background-position: center center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    padding: 0;
}
.wthree-contact-row {
    padding: 6.5em 6em;
}
.contact-left iframe {
    width: 100%;
    height:469px;
	border:none;
}
.contact-right input[type="text"],.contact-right input[type="email"] {
    width: 48.5%;
    color: #000 !important;
    outline: none;
    font-size: 1em;
	    font-weight: 300;
    padding: .6em 1em;
    margin-bottom: 1em;
    -webkit-appearance: none;
    background: none;
    border: 1px solid #fff;

}

.contact-right2 input[type="text"],.contact-right2 input[type="email"] {
	width: 48.5%;
	color: #fff !important;
	outline: none;
	font-size: 1em;
	font-weight: 300;
	padding: .6em 1em;
	margin-bottom: 1em;
	-webkit-appearance: none;
	background: none;
	border: 1px solid #fff;

}
.contact-right input.email {
    margin-left: 1em;
}
.contact-right  textarea{
	resize: none;
	width: 100%;
	color: #fff;
	font-size: 1em;
	    font-weight: 300;
	outline: none;
	padding: .8em 1em;
	border: none;
	min-height: 8em;
	-webkit-appearance: none;
	background: none;
	border: 1px solid #fff;

}

.contact-right2  textarea  {
	resize: none;
	width: 100%;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
	outline: none;
	padding: .6em 1em;
	border: none;
	height: 2.8em;
	-webkit-appearance: none;
	background: none;
	border: 1px solid #fff;

}
.contact-right input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
	background:#dfac18;

    width:25%;
    padding: 0.8em;
    font-size: 1em;
    margin: 0.5em 0 0;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.contact-right2 input[type="submit"] {
	border: 1px solid #dfac18;
	outline: none;
	color: #fff;
	background:#dfac18;
  height:2.8em
	width:25%;
	padding: 0.6em;
	font-size: 1em;
	/*margin: 0.5em 0 0;*/
	-webkit-appearance: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.contact-right  input[type="submit"]:hover {
	 background: #222;
   border:1px solid #fff
}
.contact-right2  input[type="submit"]:hover {
	background: #222;
}
::-webkit-input-placeholder {
	color:#fff !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#fff !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#fff !important;
}
:-ms-input-placeholder {
	color:#fff !important;
}
/*-- //contact --*/
/*-- Footer --*/
.w3l-footer {
	background-color: #212121;
}
.footer-info-agile {
	margin-top: 50px;
}
.w3l-footer  h4 {
	color: #fff;
    padding: 24px 0 10px 0;
	font-weight: 600;
	font-size:1.4em;
	margin-bottom: 0.8em;
	text-transform:uppercase;
	letter-spacing: 1px;
}
.footer-info-agile li {
    color: #EEE;
    display: block;
}
.links a {
	color: #EEE;
}
.links a:hover {
	color: #FFF;
	text-decoration: underline;
}
a.mail {
	color: #EEE;
}
a.mail:hover {
       color: #dfac18;
}
/*-- Newsletter --*/
.footer-info-agile p {
	    color: #EEE;
    line-height: 2em;
    margin-bottom: 27px;
    text-align: left;
}
.newsletter {
	position: relative;
}
.newsletter input[type="email"] {
    font-style: italic;
    padding: 11px 60px 13px 16px;
    border: 1px solid #3a3939;
    width: 100%;
    text-align: left;
    color: #fff;
    background-color: #191818;
    outline: none;
}
.newsletter  input[type="submit"] {
	width: 46px;
    height: 32px;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: #dfac18;
    top: 7px;
    right:7px;
    padding: 0em;
    border: none;
    outline: none;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.footer-grid-instagram a {
    float: left;
}
span.opening {
    color: #dfac18;
}
.bottom-top p {
    font-size:1em;
    margin-top: 2.5%;
    line-height:2em;
    color: #fff;
	padding:0 1em;
}
span.week {
    color: #fff;
    font-size: 1em;
}
.hours {
    float: right;
    font-size: 0.9em;
    color: #fff;
}
ul.times {
    list-style: none;
    padding: 0;
    text-align: left;
}
ul.times li {
    margin-bottom:10px;
}
ul.times i{
    float:left;
    margin:1px 10px;
	color:#fff;
	font-size:1em;
}
.footer-info-grid.address ul li {
    color: #fff;
    font-size: 1em;
	    margin-bottom: 8px;
}
/*-- //Newsletter --*/
/*-- Footer-Social-Icons --*/
.connect-agileits h4 {
	text-align: center;
}
.connect-social ul li {
	display: inline-block;
}

.connect-social ul li a{
	    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position:relative;
    margin: 10px auto 3px;
    text-align:center;
}
.social a{
    position: relative;
    display: inline-block;
    width:38px;
    height:38px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.social .fb{
    background: #dfac18;
	border:2px solid #dfac18;
	width:65px;
	height:65px;
	padding-top: 0.9em;
}
.social .fb:hover{
    background:none;
	border:2px solid #dfac18;
}
.social .tw{
    background: #dfac18;
	border:2px solid #dfac18;
}
.social .tw:hover{
    background:none;
	border:2px solid #dfac18;
}
.social .gp{
    background: #dfac18;
	border:2px solid #dfac18;
	width:65px;
	height:65px;
	padding-top: 0.9em;
}
.social .gp:hover{
    background:none;
	border:2px solid #dfac18;
}
.social .pin{
    background: #dfac18;
	border:2px solid #dfac18;
}
.social .pin:hover{
    background:none;
	border:2px solid #dfac18;
}
.social .db{
    background: #dfac18;
	border:2px solid #dfac18;
}
.social .pin:hover{
    background:none;
border:2px solid #dfac18;
}
	a.icon.gp {
    margin: 0;
}
.connect-social ul li a i {
    color: #fff;
    line-height:35px;
    font-size: 1.2em;
}
.connect-social {
    text-align: left;
}
.connect-social h5,.newsletter h5{704

      text-align: left;
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 1px;
      margin: 5px 0px 24px 0;
}
.connect-agileits {
      padding-bottom: 22px;
    text-align: center;
    border-top: 1px solid #3e3d3d;
    margin-top: 3em;
    padding: 2em 2em;
}
/*-- Footer-Social-Icons --*/
/*-- Copyright --*/
.copyright-wthree {
	    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #3e3d3d;
    margin-top: 17px;
}
.copyright-wthree p {
	color: #FFF;    letter-spacing: 1px;
}
.copyright-wthree a {
	    color:#dfac18;
	text-decoration: none;
}
.copyright-wthree a:hover {
	color: #fff;
	text-decoration: underline;
}
/*-- //Copyright --*/
/*-- to-top --*/
#toTop {
	    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width:40px;
    height:40px;
    border: none;
    text-indent: 100%;
    background: url(../images/top.png) no-repeat 0px 0px;
}
/*-- //to-top --*/
/*-- //Footer --*/
/*-- /Responsive-design-*/
@media(max-width:1366px){
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 48.1%;
	}
	.banner {
    min-height: 700px;
	}
	.banner-text {
		padding: 10em 0 0 0;
	}
}
@media(max-width:1280px){
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 48.1%;
	}
	.banner-text {
		padding: 10em 0 0 0;
	}
	.banner {
		min-height:680px;
	}
	h3.tittle {
      font-size: 2.5em;
	}
	.slider-info h3 {
		font-size: 2.8em;
		letter-spacing: 12px;
		margin: 1em 0 0.5em 0;
	}
	.search {
		position: absolute;
		right: 4%;
		top: 14px;
	}
	.slider-info h4 {
		font-size: 1.7em;
		letter-spacing: 12px;
	}
	.book-form {
		margin: 1.4em 0;
	}
	.hover.ehover8 h4 {
      font-size: 1.4em;
	}
	.countdown-timer-w3laits h3 {
		font-weight: 200;
		font-size: 2.5em;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 47.9%;
	}
}
@media(max-width:1024px){
	.navbar-default .navbar-nav > li > a {
		color: #fff;
		font-size: 1.2em;
		padding: 1.8em 0.5em;
	}
	ul.nav.navbar-nav.navbar-right {
		margin-left:2%;
	}
	.search {
		position: absolute;
		right: 4%;
		top: 14px;
	}
	.banner-text {
		padding: 7em 0 0 0;
	}
	.banner {
		min-height: 610px;
	}
	.img-ab {
		position: absolute;
		top: 95%;
		right: 21%;
		margin: -10%;
	}
	.nav-tabs {
		width: 71%;
	}
	.menu-text-left h6 {
		font-size: 0.9em;
		letter-spacing: 2px;
		line-height: 1.6em;
	}
	.slider-info h3 {
		font-size: 2.5em;
		letter-spacing: 12px;
		margin: 1em 0 0.5em 0;
	}
	.ehover8 a i {
		padding: 16px;
		font-size: 20px;
	}
	.countdown-timer-w3laits {
		min-height: 500px;
	}
	.agile-its {
		width: 80%;
		padding-top: 8em;
	}
	.agile-reservation-grid.mid-w3l-aits {
		padding: 0;
	}
	.book-form {
		margin: 1.1em 0;
	}
	.span1_of_1:nth-child(2) {
		margin: 0.5em 0;
	}
	.phone_email, .phone_email1 {
		width: 48.5%;
		margin-bottom: 1em;
	}
	.book-form input[type="submit"] {
		padding: 11px 0;
		border: none;
		font-size: 1em;
		margin-top: 1em;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 47.15%;
	}
}
@media(max-width:4096px){
	#about {
		margin-top: 0em;
	}
}
@media(max-width:4096px){
	#about2 {
		margin-top: 5em;
	}
}

@media(max-width:991px){
	.navbar-header h1 {
      font-size: 2.5em;
	}
	ul.nav.navbar-nav.navbar-right {
		margin-left:2%;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 1em;
		padding: 1.8em 0.3em;
	}
	label.icon-search span {
		font-size: 1.1em;
		top: 17px;
	}
	.banner-text {
		padding:7em 0 0 0;
	}
	.slider-info {
		padding-top: 0em;
	}
	.banner {
		min-height: 530px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 2px;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 114%;
		left: 40%;
	}
	#about {
		margin-top:-5em;
		padding: 5em 0 32em 0;
	}
	.img-ab {
		position: absolute;
		top: 95%;
		right: 1%;
		margin: -10%;
	}
	.wthree-agile-grid {
		float: left;
	}
	.wthree-agile-grid h4 {
		margin-top: 2em;
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.menu-text {
		margin-bottom: 2em;
	}
	.nav-tabs {
		width: 94%;
	}
	.hover, .hover .overlay {
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 1%;
	}
	span.simply-word {
    font-size: 14px;
	}
	span.simply-amount {
    font-size: 5em;
	}
	.gal-w3l {
		padding-left: 5px!important;
		padding-right: 5px!important;
		margin-bottom: 4px;
		float: left;
		width: 50%;
	}
	.w3l-agile-team-grid img {
		width: 100%;
	}
	.agile-reservation-grid.mid-w3l-aits {
		padding: 0;
		padding: 1em 1em;
		margin: 1em 0;
	}
	.agile-reservation-grid img {
		width: 100%!important;
	}
	.ab-w3l-text h2 {
      font-size: 2.5em;
	}
	.agile-its {
    width: 100%!important;
	}
	.newsletter {
    position: relative;
    text-align: left;
		margin-top: 1em;
	}
	.connect-agileits {
		padding-bottom: 22px;
		margin-top: 3em;
		padding: 2em 0em;
	}
}
@media(max-width:800px){
	.about-w3l-agileifo-grid {
		position: relative;
		width: 80%;
		padding: 0 12px;
		margin-top: 1.5em;
	}
	.img-ab {
		position: absolute;
		top: 95%;
		right: 0%;
		margin: -10%;
		width: 98%;
	}
	.countdown-timer-w3laits {
		min-height: 433px;
	}
	section.examples {
		margin-top: 7em;
	}
	.agile-its {
    width: 80%;
		padding-top: 7em;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 48.48%;
	}
	.contact-left iframe {
		width: 100%;
		height: 360px;
	}
	.footer-info-agile {
		margin-top: 35px;
	}
	.social {
		position: relative;
		margin: 10px auto 34px;
	}
	.connect-social h5, .newsletter h5,.w3l-footer  h4 {
		font-size: 1.2em;
		margin: 5px 0px 24px 0;
		text-align: left;
	}
	.connect-agileits {
		padding-bottom: 12px;
		padding: 2em 0em;
	}
	.navbar-header h1 {
		font-size: 2em;
	}
}
@media(max-width:768px){
	.about-w3l-agileifo-grid {
		position: relative;
		width: 80%;
		padding: 0 12px;
		margin-top: 1.5em;
	}
	.img-ab {
		position: absolute;
		top: 95%;
		right: 0%;
		margin: -10%;
		width: 98%;
	}
	#about {
		padding: 5em 0 28em 0;
	}
	#about2 {
	margin-top: -5em;
	}
	.agile-services-w3 {
		min-height: 442px;
		padding-top: 5em;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 48.49%;
	}
}
@media(max-width:767px){
	.header {
		padding: 1.5em 1.5em 0;
	}
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		margin-left: 42%;
	}
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-default .navbar-toggle {
		border-color:#dfac18;
		background: #dfac18;
		margin: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #dfac18;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 0.8em;
	}
	.navbar-nav > li {
		margin: 0;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		margin-top: 1.5em;
		text-align: center!important;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
		display:none;
	}
	.slider-info h3 {
		font-size: 2em;
		letter-spacing: 12px;
		margin: 1em 0 0.5em 0;
	}
	.banner {
		min-height:500px;
	}
	.slider-info h4 {
		font-size: 1.4em;
		letter-spacing: 12px;
	}

	p.sub-para {
		font-size: 0.9em;
		letter-spacing: 7px;
	}
	.banner-text {
		padding:6em 0 0 0;
	}
	.wthree-agile-grid {
		float: left;
		width: 25%;
	}
	.wthree-agile-sevre-grids {
		margin-top: 4em;
	}
	.agile-services-w3 {
		min-height: 400px;
		padding-top: 5em;
	}
	h3.tittle,.contact h4{
		font-size: 2.3em;
	}
	.navbar-header h1 a {
		display: inline-block;
		line-height: 34px;
		font-weight: bold;
	}
	.header {
		padding: 1.5em 0;
	}
	.search {
		position: absolute;
		right: 12%;
		top: 7px;
	}
}
@media(max-width:736px){
	.wthree-agile-grid h4 {
		margin-top: 2em;
		font-size: 1em;
		letter-spacing: 1px;
	}
	.nav-tabs>li>a {
		margin: 0 5px;
		padding: 12px 35px;
		line-height: 1.42857143;
		font-size: 15px;
	}
	.wthree-contact-row {
		padding: 6.5em 2em;
	}
	.search {
		position: absolute;
		right: 20%;
		top: 7px;
	}
	#about2 {
	margin-top: -3em;
	}
}
@media(max-width:667px){
	.banner {
		min-height: 458px;
	}
	.banner-text {
		padding: 5em 0 0 0;
	}
	#about {
		padding: 5em 0 25em 0;
	}
	#about2 {
	/*margin-top: 1em;*/
	}
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		margin-left: 42%;
	}
	.search_box:checked~.search_form {
		width: 450px;
		height: 53px;
		padding: 10px;
		top: 73px;
	}
	.search_form input[type='search'] {
      width: 320px;
	}
	span.simply-amount {
		font-size:3.7em;
	}
}
@media(max-width:640px){
	.banner {
		min-height: 414px;
	}
	.slider-info h3 {
		font-size: 1.8em;
		letter-spacing: 10px;
		margin: 1em 0 0.5em 0;
	}
	.slider-info h4 {
		font-size: 1.2em;
		letter-spacing: 10px;
	}
	h3.tittle, .contact h4 {
		font-size: 2.2em;
	}
	.recipes-w3l-agile {
		padding: 4em 0 2em 0;
	}
	#team,#gallery,.reservation-w3laits {
		padding: 4em 0;
	}
	.countdown-timer-w3laits {
		min-height: 394px;
	}
	.agile-its {
		width: 80%;
		padding-top: 6em;
	}
	.countdown-timer-w3laits h4 {
		margin-bottom: 30px;
		letter-spacing: 3px;
		font-size: 1.8em;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 48.45%;
	}
	.countdown-timer-w3laits h3,.ab-w3l-text h2 {
		font-size: 2.2em;
	}
	span.simply-amount {
		font-size: 3.5em;
	}
}
@media(max-width:600px){
	.contact-right input[type="text"], .contact-right input[type="email"] {
		width: 100%;
	}
	.contact-right input.email {
		margin-left: 0;
	}
}
@media(max-width:568px){
	.banner {
		min-height: 414px;
	}
	.navbar-header h1 {
		font-size: 2.2em;
	}
	.search_box:checked~.search_form {
		width: 349px;
		height: 53px;
		padding: 10px;
		top: 73px;
	}
	.search_form input[type='search'] {
		width: 220px;
	}
	.banner {
		min-height: 367px;
	}
	.slider-info h3 {
		font-size: 1.6em;
		letter-spacing: 10px;
		margin: 1em 0 0.5em 0;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 114%;
		left: 36%;
	}
	.slider-info h4 {
		font-size: 1.1em;
		letter-spacing: 10px;
	}
	p.sub-para {
		font-size: 0.8em;
		letter-spacing: 5px;
	}
	#about {
		padding: 4em 0 22em 0;
	}
	.wthree-agile-grid h4 {
		margin-top: 2em;
		font-size: 0.85em;
	}
	.nav-tabs>li>a {
		margin: 0 3px;
		padding: 9px 27px;
		line-height: 1.42857143;
		font-size: 15px;
	}
	.tab-content>.tab-pane {
		padding-top: 31px;
	}
	span.simply-amount {
		font-size: 3em;
	}
	span.simply-word {
		font-size: 12px;
	}
	.countdown-timer-w3laits {
		    min-height: 322px;
	}
	section.examples {
		margin-top: 4em;
	}
	.agile-its {
		width: 80%;
		padding-top: 5em;
	}
	.bs-example.bs-example-tabs {
		margin-top: 1.5em;
	}
	#team, #gallery, .reservation-w3laits {
		padding: 2em 0;
	}
	.contact-right input[type="text"], .contact-right input[type="email"] {
		width: 100%;
	}
}
@media(max-width:480px){
	.slider-info h3 {
		font-size: 1.4em;
		letter-spacing: 10px;
		margin: 1em 0 0.5em 0;
	}
	.banner {
		min-height: 333px;
	}
	#about {
		padding: 3em 0 18em 0;
	}
	.wthree-agile-grid {
		float: left;
		/*width: 50%;*/
		transform:scale(0.8);
	}
	.wthree-agile-grid h4 {
		margin: 2em 0;
		font-size: 1.1em;
	}
	.wthree-agile-sevre-grids {
		margin-top: 2em;
	}
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		margin-left: 36%;
	}
	.banner-text {
		padding: 3em 0 0 0;
	}
	.agile-services-w3 {
		min-height: 400px;
		padding-top: 4.2em;
		padding-bottom: 2em;
	}
	.nav-tabs>li>a {
		margin: 0 3px;
		padding: 9px 17px;
		line-height: 1.42857143;
		font-size: 15px;
	}
	h3.tittle, .contact h4 {
		font-size: 2em;
	}
	.menu-text-left h4 {
      font-size: 1em;
	}
	.ab-w3l-text p {
		color: #555;
		font-size: 0.9em;
		line-height: 30px;
	}
	.contact-left iframe {
		width: 100%;
		height: 260px;
	}
	.connect-social h5, .newsletter h5, .w3l-footer h4 {
		font-size: 1.2em;
		margin: 5px 0px 24px 0;
		text-align: left;
		padding: 14px 0 0px 0;
	}
	.footer-info-agile {
		margin-top: 24px;
	}
	.connect-agileits {
		padding-bottom: 12px;
		padding: 1em 0em;
	}
	.social {
		position: relative;
		margin: 10px auto 14px;
	}
	.contact-right input[type="text"],.contact-right input[type="email"] {
		width: 100%;
	}
	.contact-right input.email {
		margin-left: 0;
	}
	.wthree-contact-row {
		padding: 4em 1em;
	}
	.recipes-w3l-agile {
		padding: 3em 0 2em 0;
	}
	.hover.ehover8 h4 {
		font-size: 1.1em;
		padding: 10px 10px;
	}
	span.simply-amount {
		font-size: 2em;
	}
	.countdown-timer-w3laits h3, .ab-w3l-text h2 {
		font-size: 2em;
	}
	.gallery_gds {
		margin-top: 1.5em;
	}
	.phone_email, .phone_email1 {
		width: 100%;
		margin-bottom: 1em;
	}
}
@media(max-width:414px){
	.navbar-header h1 {
		font-size: 2em;
	}
	label.icon-search span {
		font-size: 1.1em;
		top: 14px;
	}
	.slider-info h3 {
		font-size: 1.2em;
		letter-spacing: 8px;
		margin: 1em 0 0.5em 0;
	}
	.slider-info h4 {
		font-size: 1em;
		letter-spacing: 7px;
	}

	.callbacks_tabs a:after {
		width: 12px;
		height: 12px;
		display: inline-block;
		border: 4px solid rgba(0, 0, 0, 0.91);
	}
	p.sub-para {
		font-size: 0.8em;
		letter-spacing: 2px;
	}
	.callbacks_tabs li {
		display: inline-block;
		margin: 0 0px;
	}
	.banner {
		/*min-height: 220px;*/

	}
	#about {
		padding: 2em 0 15em 0;
	}
	.recipes-w3l-agile {
		padding:2em 0 2em 0;
	}
	.nav-tabs>li>a {
		margin: 0 3px;
		padding: 9px 10px;
		line-height: 1.42857143;
		font-size: 14px;
	}
	.ehover8 a i {
		padding: 10px;
		font-size: 14px;
	}
	.countdown-timer-w3laits h3, .ab-w3l-text h2 {
		font-size: 1.8em;
	}
	h3.tittle, .contact h4 {
		font-size: 1.8em;
	}
	.gallery_gds {
		margin-top: 1em;
	}
	.search_box:checked~.search_form {
		width: 349px;
		height: 53px;
		padding: 10px;
		top: 70px;
		right: -66px;
	}
	.agile-its {
		padding-top: 3em;
	}
}
@media(max-width:384px){
	.nav-tabs>li>a {
		margin: 0 1px;
		padding: 9px 10px;
		line-height: 1.42857143;
		font-size: 13px;
	}
	.hover.ehover8 h4 {
		font-size: 1em;
		padding: 10px 10px;
	}
	.simply-section {
		display: inline-block;
		width: 50%;
		float: left;
		text-align: center;
		margin-bottom: 1em;
	}
	.countdown-timer-w3laits h3, .ab-w3l-text h2 {
		font-size: 1.6em;
	}
	h3.tittle, .contact h4 {
		font-size: 1.6em;
	}
	.ab-w3l-text {
		padding: 0 3px;
	}
	.slider-info h3 {
		font-size: 1.1em;
		letter-spacing: 6px;
		margin: 1em 0 0.5em 0;
	}
	.contact-right input[type="submit"] {
			width: 39%;
			padding: 0.6em;
			font-size: 1em;
			margin: 0.5em 0 0;
	}
	.wthree-contact-row {
		padding: 3em 1em;
	}
}
@media(max-width:375px){
	.slider-info h3 {
		font-size: 1em;
		letter-spacing: 6px;
		margin: 1em 0 0.5em 0;
	}
	.slider-info h4 {
		font-size:0.9em;
		letter-spacing:5px;
	}
	.rep-w3l-img img {
    padding: 3px;
	}
	#about {
		padding: 2em 0 11em 0;
	}
	.about-w3l-agileifo-grid {
		position: relative;
		width: 91%;
		padding: 0 5px;
		margin-top: 1.5em;
	}
		a.hi-icon.icon1{
		width: 100px;
		height: 100px;
		background: url(../images/1.png) no-repeat 17px 20px #222222;
	}
	a.hi-icon.icon3 {
		width: 100px;
		height: 100px;
		background: url(../images/3.png) no-repeat 17px 14px #222222;
	}
	a.hi-icon.icon2{
		width: 100px;
		height: 100px;
		background: url(../images/2.png) no-repeat 18px 16px #222222;
	}
	a.hi-icon.icon4 {
		width: 100px;
		height: 100px;
		    background: url(../images/4.png) no-repeat 20px 18px #222222;
	}
	a.hi-icon.icon1:hover{

		background: url(../images/1.png) no-repeat 17px 20px #dfac18;
	}
	a.hi-icon.icon3:hover {

		background: url(../images/3.png) no-repeat 17px 14px #dfac18;
	}
	a.hi-icon.icon2:hover{

		background: url(../images/2.png) no-repeat 18px 16px #dfac18;
	}
	a.hi-icon.icon4:hover {

		    background: url(../images/4.png) no-repeat 20px 18px #dfac18;
	}
	.wthree-agile-grid h4 {
		margin: 2em 0;
		font-size: 0.9em;
	}
	.navbar-header h1 {
		font-size: 1.8em;
	}
	.countdown-timer-w3laits {
		min-height: 267px;
	}
	.wthree-contact-row {
		padding: 2em 1em;
	}
	.rep-w3l-text {
		float: left;
		width: 70%;
		margin-top: 0em;
	}
	.menu-text-right h4 {
    margin: 0;
    font-size: 17px;
	}
	.social a {
      margin-right: 7px;
    }
	.agile-its {
		padding-top:2.5em;
	}
}
@media(max-width:320px){
	.slider-info h4 {
		font-size: 0.85em;
		letter-spacing: 3px;
	}
	.slider-info h3 {
		font-size: 1em;
		letter-spacing:3px;
		margin: 1em 0 0.5em 0;
	}
	.banner {
		min-height: 264px;
	}
	.banner-text {
		padding: 2em 0 0 0;
	}
	.about-w3l-agileifo-grid {
		position: relative;
		width: 91%;
		padding: 0 5px;
		margin-top: 1.5em;
	}
	.gold{
		color: #936e24;
	}
	.countdown-timer-w3laits h3, .ab-w3l-text h2 {
		font-size: 1.4em;
	}
	.countdown-timer-w3laits h4 {
		margin-bottom: 22px;
		letter-spacing: 3px;
		font-size: 1.6em;
	}
	h3.tittle, .contact h4 {
		font-size: 1.4em;
	}
	.hover.ehover8 h4 {
		font-size: 0.9em;
		padding: 5px 5px;
		letter-spacing: 1px;
	}
	.search_form input[type='search'] {
		width: 171px;
	}
	ul.nav.navbar-nav.navbar-right {
		margin: 0;
		margin-left: 31%;
	}
	.search_box:checked~.search_form {
		width: 300px;
		height: 53px;
		padding: 8px;
		top: 70px;
		right: -59px;
	}
	.nav-tabs>li>a {
		margin: 0 1px;
		padding: 9px 7px;
		line-height: 1.42857143;
		font-size: 11px;
	}
}
/*-- //responsive-design --*/
